<!DOCTYPE html>
<html lang="en">
{% extends 'base/principal.html' %}

{% block content %}
<head>
<meta charset="UTF-8">
<title>Formulario para eliminar tareas</title>

    <div class="barra-superior">
    <a href="{% url 'tareas' %}">&#x1F828; Volver</a>
    </div>
</head>
<body>
    <div class="cuerpo-tarjeta">
        <form method="post">
            {% csrf_token %}
            <h3>Eliminaras la tarea: {{tareas}}</h3>
            <input class="button" type="submit" value="Elminar">
        </form>
    </div>

</body>
</html>
{% endblock content %}